<launch>

    <node pkg="tf" type="static_transform_publisher" name="tf" args="0 0 0 0 0 0 world new 10" />

    <node name="interactive_ellipsoid_node" pkg="interactive_geometry" type="interactive_ellipsoid_node"  output="screen" required="true">
        <param name="a" type="double" value="1.3" />
        <param name="b" type="double" value="0.5" />
        <param name="c" type="double" value=".9" />
    </node>

</launch>

